{% comment %}
  Renders a product card placeholder

  Accepts:
  - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - placeholder

  Usage:
  {% render 'card-product-placeholder' %}
{% endcomment %}

<div class="card-wrapper">
  <a class="full-width-link"><span class="visually-hidden">{{ 'onboarding.product_title' | t }}</span></a>

  <div class="card card--product card--text">
    <div class="card__media media-wrapper">
      <div class="media media--{{ media_size }}" style="--image-ratio-percent: 100%;">
        {{ placeholder }}
      </div>
    </div>
  </div>

  <div class="card-information">
    <div class="card-information__wrapper">
      <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
      <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
      <div class="card__content">
        <div class="card-information__text h3">{{ 'onboarding.product_title' | t }}</div>
      </div>
      {% render 'price' %}
    </div>
  </div>
</div>
