{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - image_ratio: {String} The setting either show the article image ratio

  Usage:
  {% render 'card-article', blog: blog, article: article, show_image: section.settings.show_image, image_ratio: section.settings.image_ratio %}
{% endcomment %}

<article class="article-card{% if article.image == blank or show_image == false %} article-card--no-image{% endif %}" aria-labelledby="Article-{{ article.id }}">
  <a href="{{ article.url }}" class="card">
    {%- if show_image == true and article.image -%}
      <use-animate data-animate="zoom-fade-small" class="article-card__image-wrapper media-wrapper">
        <div class="article-card__image image-animate media media--{{ image_ratio }} media--hover-effect"
          {%- if image_ratio == 'adapt' %} style="--image-ratio-percent: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"{% endif -%}
        >
          {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 10rem) / 2), calc(100vw - 3rem){%- endcapture -%}
          {{ article.image | image_url: width: 1500 | image_tag:
            loading: 'lazy',
            class: 'motion-reduce',
            sizes: sizes,
            widths: '165, 360, 535, 750, 1100, 1500',
            is: 'lazy-image'
          }}
        </div>
      </use-animate>
    {%- endif -%}

    <div class="article-card__info">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'title'-%}
            <header class="article-card__header" {{ block.shopify_attributes }}>
              <h3 class="article-card__title h3" id="Article-{{ article.id }}">
                {{ article.title | escape }}
              </h3>
              <div>
                {%- if block.settings.show_date -%}
                  <span class="circle-divider caption-with-letter-spacing light">
                    {{- article.published_at | time_tag: format: 'month_day_year' -}}
                  </span>
                {%- endif -%}
                {%- if block.settings.show_author -%}
                  <span class="circle-divider caption-with-letter-spacing light">{{ article.author }}</span>
                {%- endif -%}
                {%- if block.settings.show_comment_count and article.comments_count > 0 and blog.comments_enabled? -%}
                  <span class="circle-divider caption-with-letter-spacing light">{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                {%- endif -%}
              </div>
            </header>

          {%- when 'summary'-%}
            {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
              <p class="article-card__excerpt rte" {{ block.shopify_attributes }}>
                {%- liquid
                  if article.excerpt.size > 0
                    echo article.excerpt | strip_html | truncatewords: 30
                  else
                    echo article.content | strip_html | truncatewords: 30
                  endif
                -%}
              </p>
            {%- endif -%}

          {%- when 'read_more'-%}
            <div class="article-card__footer" {{ block.shopify_attributes }}>
              <span class="article-card__link" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title | escape }}">{{ 'blogs.article.read_more' | t }}</span>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </a>
</article>
