{% comment %}theme-check-disable RemoteAsset{% endcomment %}
<article id="{{ comment.id }}" class="article-template__comments-comment">
  {%- if show_gravatar -%}
    <img class="comment__gravatar" src="//www.gravatar.com/avatar/{{ comment.email | md5 }}?s=100" alt="{{ comment.author | escape }}" loading="lazy" width="100" height="100"/>
  {%- endif -%}
  <div class="comment__content">
    <span class="comment__author dash-divider">{{ comment.author }}</span>
    {%- if comment.created_at != nil -%}
      <span class="comment__date">
        {{ comment.created_at | time_tag: format: 'month_day_year' }}
      </span>
    {%- endif -%}
    <div class="rte">
      {{ comment.content }}
    </div>
  </div>
</article>
