{% comment %}
  Renders header drawer

  Accepts:
  - main_menu: {Object} Main menu
  - language_selector: {HTML} Shows on the screen as customers scroll up when true
  - country_selector: {HTML} Show filtering when true

  Usage:
  {% render 'header-drawer', main_menu: section.settings.menu %}
{% endcomment %}

{%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
  {%- capture language_selector -%}
    <noscript>
      {%- form 'localization', id: 'HeaderDrawerLanguageFormNoScript', class: 'localization-form' -%}
        <div class="localization-form__select">
          <p class="visually-hidden" id="HeaderDrawerLanguageLabelNoScript">{{ 'localization.language_label' | t }}</p>
          <select class="localization-selector link" name="locale_code" aria-labelledby="HeaderDrawerLanguageLabelNoScript">
            {%- for language in localization.available_languages -%}
              <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                {{ language.endonym_name | capitalize }}
              </option>
            {%- endfor -%}
          </select>
          {% render 'icon', icon: 'caret' %}
        </div>
        <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
      {%- endform -%}
    </noscript>
    <localization-form>
      {%- form 'localization', id: 'HeaderDrawerLanguageForm', class: 'localization-form' -%}
        <div class="no-js-hidden">
          <span class="visually-hidden" id="HeaderDrawerLanguageLabel">{{ 'localization.language_label' | t }}</span>
          <div class="disclosure">
            <button type="button" class="disclosure__button localization-form__select localization-selector" aria-expanded="false" aria-controls="HeaderDrawerLanguageList" aria-describedby="HeaderDrawerLanguageLabel">
              {% render 'icon', icon: 'localization' %}
              <span class="label">{{ localization.language.endonym_name | capitalize }}</span>
              {% render 'icon', icon: 'caret' %}
            </button>
            <ul id="HeaderDrawerLanguageList" role="list" class="disclosure__list list-unstyled" hidden>
              <li class="disclosure__item" tabindex="-1">
                <a class="disclosure__link link disclosure__link--active focus-inset" href="#" hreflang="{{ localization.language.iso_code }}" lang="{{ localization.language.iso_code }}" aria-current="true" data-value="{{ localization.language.iso_code }}">
                  {{ localization.language.endonym_name | capitalize }}
                </a>
              </li>
              {%- for language in localization.available_languages -%}
                {%- if language.iso_code != localization.language.iso_code -%}
                  <li class="disclosure__item" tabindex="-1">
                    <a class="disclosure__link link focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}" data-value="{{ language.iso_code }}">
                      {{ language.endonym_name | capitalize }}
                    </a>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
          <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}"/>
        </div>
      {%- endform -%}
    </localization-form>
  {%- endcapture -%}
{%- endif -%}

{%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
  {%- capture country_selector -%}
    <noscript>
      {%- form 'localization', id: 'HeaderDrawerCountryFormNoScript', class: 'localization-form' -%}
        <div class="localization-form__select">
          <p class="visually-hidden" id="HeaderDrawerCountryLabelNoScript">{{ 'localization.country_label' | t }}</p>
          <select class="localization-selector link" name="country_code" aria-labelledby="HeaderDrawerCountryLabelNoScript">
            {%- for country in localization.available_countries -%}
              <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                {{ country.currency.iso_code }} {{ country.currency.symbol }}
              </option>
            {%- endfor -%}
          </select>
          {% render 'icon', icon: 'caret' %}
        </div>
        <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
      {%- endform -%}
    </noscript>
    <localization-form>
      {%- form 'localization', id: 'HeaderDrawerCountryForm', class: 'localization-form' -%}
        <div class="no-js-hidden">
          <span class="visually-hidden" id="HeaderDrawerCountryLabel">{{ 'localization.country_label' | t }}</span>
          <div class="disclosure">
            <button type="button" class="disclosure__button localization-form__select localization-selector" aria-expanded="false" aria-controls="HeaderDrawerCountryList" aria-describedby="HeaderDrawerCountryLabel">
              {%- unless section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                {% render 'icon', icon: 'localization' %}
              {%- endunless -%}
              <span class="label">{{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})</span>
              {% render 'icon', icon: 'caret' %}
            </button>
            <ul id="HeaderDrawerCountryList" role="list" class="disclosure__list list-unstyled" hidden>
              <li class="disclosure__item" tabindex="-1">
                <a class="disclosure__link link disclosure__link--active focus-inset" href="#" aria-current="true" data-value="{{ localization.country.iso_code }}">
                  {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                </a>
              </li>
              {%- for country in localization.available_countries -%}
                {%- if country.iso_code != localization.country.iso_code -%}
                  <li class="disclosure__item" tabindex="-1">
                    <a class="disclosure__link link focus-inset" href="#" data-value="{{ country.iso_code }}">
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </a>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
          <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}"/>
        </div>
      {%- endform -%}
    </localization-form>
  {%- endcapture -%}
{%- endif -%}

{%- assign animate_count = 1 -%}
<header-drawer>
  <details class="menu-drawer-container">
    <summary class="header__icon header__icon--menu focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
      <span class="header__icon header__icon--summary">
        {% render 'icon', icon: 'hamburger' %}
        <svg class="icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close"></use>
        </svg>
      </span>
    </summary>
    <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <drawer-close-button class="header__icon header__icon--menu medium-hide large-up-hide" data-animate data-animate-delay-{{ animate_count }}>
            <svg class="icon icon-close" aria-hidden="true" focusable="false">
              <use href="#icon-close"></use>
            </svg>
          </drawer-close-button>
          <nav class="menu-drawer__navigation" data-animate data-animate-delay-{{ animate_count }}>
            <ul class="menu-drawer__menu list-menu" role="list">
              {%- for link in main_menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details>
                      <summary>
                        <span class="menu-drawer__menu-item list-menu__item animate-arrow focus-inset{% if link.active or link.child_active %} menu-drawer__menu-item--active{% endif %}">
                          {%- liquid
                            echo link.title | escape
                            render 'icon', icon: 'arrow'
                            render 'icon', icon: 'caret'
                          -%}
                        </span>
                      </summary>
                      <div id="link-{{ link.title | handle }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                        <div class="menu-drawer__inner-submenu">
                          <div class="menu-drawer__topbar">
                            <button type="button" class="menu-drawer__close-button focus-inset" aria-expanded="true" data-close>
                              {% render 'icon', icon: 'arrow' %}
                            </button>
                            <a class="menu-drawer__menu-item" href="{{ link.url }}">{{ link.title | escape }}</a>
                          </div>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a href="{{ childlink.url }}" class="menu-drawer__menu-item list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details>
                                    <summary>
                                      <span class="menu-drawer__menu-item list-menu__item animate-arrow focus-inset">
                                        {%- liquid
                                          echo childlink.title | escape
                                          render 'icon', icon: 'arrow'
                                          render 'icon', icon: 'caret'
                                        -%}
                                      </span>
                                    </summary>
                                    <div id="childlink-{{ childlink.title | handle }}" class="menu-drawer__submenu motion-reduce">
                                      <div class="menu-drawer__topbar">
                                        <button type="button" class="menu-drawer__close-button focus-inset" aria-expanded="true" data-close>
                                          {% render 'icon', icon: 'arrow' %}
                                        </button>
                                        <a class="menu-drawer__menu-item" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                      </div>
                                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__itemfocus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>

          {%- if language_selector != blank or country_selector != blank -%}
            <div class="menu-drawer__localization" data-animate data-animate-delay-{{ animate_count }}>
              {%- liquid
                echo language_selector
                echo country_selector
                
                assign animate_count = animate_count | plus: 1
              -%}
            </div>
          {%- endif -%}

          <div class="menu-drawer__utility-links" data-animate data-animate-delay-{{ animate_count }}>
            {%- if shop.customer_accounts_enabled -%}
              <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="menu-drawer__account link link-with-icon focus-inset">
                {% render 'icon', icon: 'account' %}
                <span class="label">
                  {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif
                  -%}
                </span>
              </a>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- render 'social-icons' -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>