{%- style -%}
  #shopify-section-{{ section.id }} {
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-link: {{ section.settings.colors_link.red }}, {{ section.settings.colors_link.green }}, {{ section.settings.colors_link.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-heading: {{ section.settings.colors_heading.red }}, {{ section.settings.colors_heading.green }}, {{ section.settings.colors_heading.blue }};
  }
{%- endstyle -%}

{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-accordion.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-accordion.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'footer-accordion.js' | asset_url }}" defer="defer"></script>

<footer class="footer{% if section.settings.show_divider %} footer--border-top{% endif %}">
  {%- liquid
    assign enable_right_column = false
    if section.settings.newsletter_enable or section.settings.show_social
      assign enable_right_column = true
    endif
  -%}
  {%- if section.blocks.size > 0 or enable_right_column -%}
    <div class="footer__content-top page-width">
      <div class="grid">
        {%- if section.blocks.size > 0 -%}
          <div class="grid__item footer__content-left{% if section.blocks.size == 4 and enable_right_column %} footer__content-left--alt{% endif %}{% if section.blocks.size == 1 and enable_right_column == false %} footer__content-left--only{% endif %}">
            <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet">
              {%- for block in section.blocks -%}
                <footer-accordion class="accordion footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
                  <details open>
                    <summary tabindex="-1">
                      <p class="h4 accordion__title">{{ block.settings.heading | escape }}</p>
                      {% render 'icon', icon: 'caret' %}
                    </summary>
                    {%- case block.type -%}
                      {%- when 'text' -%}
                        <div class="footer-block__details-content rte">
                          {{ block.settings.subtext }}
                        </div>
                      {%- when 'link_list' -%}
                        {%- if block.settings.menu != blank -%}
                          <ul class="footer-block__details-content list-unstyled">
                            {%- for link in block.settings.menu.links -%}
                              <li>
                                <a href="{{ link.url }}" class="link list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                                  {{ link.title }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      {%- when 'image' -%}
                        <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                          {%- if block.settings.link != blank -%}
                            <a href="{{ block.settings.link }}">
                          {%- endif -%}
                            {%- if block.settings.image != blank -%}
                              {%- liquid
                                assign image_width = block.settings.image_width
                                assign image_width_2x = block.settings.image_width | times: 2
                              -%}
                              <img
                                srcset= "{{ block.settings.image | image_url: width: image_width }}, {{ block.settings.image | image_url: width: image_width_2x }} 2x"
                                src="{{ block.settings.image | image_url: width: image_width }}"
                                alt="{{ block.settings.image.alt | escape }}"
                                loading="lazy"
                                width="{{ block.settings.image.width }}"
                                height="{{ block.settings.image.height }}"
                                style="max-width: min(100%, {{ image_width }}px);"
                              />
                            {%- else -%}
                              {{ 'image' | placeholder_svg_tag: 'placeholder' }}
                            {%- endif -%}
                          {%- if block.settings.link != blank -%}
                            </a>
                          {%- endif -%}
                          <p class="caption-large">{{ block.settings.text }}</p>
                        </div>
                    {%- endcase -%}
                  </details>
                </footer-accordion>
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}

        {%- if enable_right_column -%}
          <div class="grid__item footer__content-right">
            <div class="grid">
              {%- if section.blocks.size > 0 -%}
                <div class="grid__item small-hide">
                  <div></div>
                </div>
              {%- endif -%}
              <div class="grid__item">
                {%- if section.settings.newsletter_enable -%}
                  <footer-accordion class="accordion footer-block--newsletter" data-open>
                    
                      {% comment %} <summary tabindex="-1">
                        <p class="h4 accordion__title">{{ section.settings.newsletter_heading | escape }}</p>
                        {% render 'icon', icon: 'caret' %}
                      </summary> {% endcomment %}
                      <div class="footer-block__details-content">
                        <div class="footer-block__newsletter">
                          {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                            <input type="hidden" name="contact[tags]" value="newsletter"/>

                            <div class="field">
                              <input
                                id="ContactFooter-email"
                                type="email"
                                name="contact[email]"
                                class="field__input required{% if form.errors %} invalid{% endif %}"
                                value="{{ form.email }}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                {% if form.errors %}
                                  autofocus
                                  aria-invalid="true"
                                  aria-describedby="ContactFooter-error"
                                {% elsif form.posted_successfully? %}
                                  aria-describedby="ContactFooter-success"
                                {% endif %}
                                placeholder="{{ 'newsletter.label' | t }}"
                                required
                              />
                              <label class="visually-hidden" for="ContactFooter-email">{{ 'newsletter.label' | t }}</label>
                              <button type="submit" class="button button--arrow field__button animate-arrow" name="commit" aria-label="{{ 'newsletter.button_label' | t }}">
                                {% render 'icon', icon: 'arrow' %}
                              </button>
                            </div>
                            {%- if form.errors -%}
                              <small class="form__message errors" id="ContactFooter-error">
                                {% render 'icon', icon: 'error' %}
                                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                              </small>
                            {%- endif -%}
                            
                            <div class="typeset rte">
                              {{ section.settings.newsletter_text }}
                            </div>

                            {%- if form.posted_successfully? -%}
                              <p class="form__message h3" id="ContactFooter-success" tabindex="-1" autofocus>
                                {% render 'icon', icon: 'success' %}
                                {{ 'newsletter.success' | t }}
                              </p>
                            {%- endif -%}
                            
                          {%- endform -%}
                        </div>
                
                        {%- if section.settings.show_social -%}
                          <p class="h4 accordion__title">{{ section.settings.social_heading | escape }}</p>
                          <ul class="footer__list-social list-unstyled list-social" role="list">
                            {% render 'social-icons' %}
                            <li class="list-social__item--placeholder">{{ 'sections.footer.social_placeholder' | t }}</li>
                          </ul>
                        {%- endif -%}
                      </div>
                    </details>
                  </footer-accordion>
                {%- else -%}
                  <footer-accordion class="accordion footer-block--social" data-open>
                    <details open>
                      <summary tabindex="-1">
                        <p class="h4 accordion__title">{{ section.settings.social_heading | escape }}</p>
                        {% render 'icon', icon: 'caret' %}
                      </summary>
                      <div class="footer-block__details-content">
                        <ul class="footer__list-social list-unstyled list-social" role="list">
                          {% render 'social-icons' %}
                          <li class="list-social__item--placeholder">{{ 'sections.footer.social_placeholder' | t }}</li>
                        </ul>
                        </div>
                  </footer-accordion>
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__column--info">
        <div class="footer__copyright">
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}. {{ section.settings.copyright_text }}</small>
          <ul class="policies list-unstyled">
            <li><small class="copyright__content">{{ powered_by_link }}</small></li>
            {%- if section.settings.show_policy -%}
              {%- for policy in shop.policies -%}
                {%- if policy != blank -%}
                  <li><small class="copyright__content"><a href="{{ policy.url }}">{{ policy.title }}</a></small></li>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </ul>
        </div>
      </div>
      <div class="footer__column footer__column--extra">
        <div class="footer__localization">
          {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
            <noscript>
              {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                <div class="localization-form__select">
                  <p class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</p>
                  <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                    {%- for language in localization.available_languages -%}
                      <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                        {{ language.endonym_name | capitalize }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon', icon: 'caret' %}
                </div>
                <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
              {%- endform -%}
            </noscript>
            <localization-form>
              {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                <div class="no-js-hidden">
                  <span class="visually-hidden" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</span>
                  <div class="disclosure">
                    <button type="button" class="disclosure__button localization-form__select localization-selector link link--text link-with-icon" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                      {% render 'icon', icon: 'localization' %}
                      <span class="label">{{ localization.language.endonym_name | capitalize }}</span>
                      {% render 'icon', icon: 'caret' %}
                    </button>
                    <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled" hidden>
                      <li class="disclosure__item" tabindex="-1">
                        <a class="disclosure__link link disclosure__link--active focus-inset" href="#" hreflang="{{ localization.language.iso_code }}" lang="{{ localization.language.iso_code }}" aria-current="true" data-value="{{ localization.language.iso_code }}">
                          {{ localization.language.endonym_name | capitalize }}
                        </a>
                      </li>
                      {%- for language in localization.available_languages -%}
                        {%- if language.iso_code != localization.language.iso_code -%}
                          <li class="disclosure__item" tabindex="-1">
                            <a class="disclosure__link link focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}" data-value="{{ language.iso_code }}">
                              {{ language.endonym_name | capitalize }}
                            </a>
                          </li>
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>
                  </div>
                  <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}"/>
                </div>
              {%- endform -%}
            </localization-form>
          {%- endif -%}

          {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
            <noscript>
              {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
                <div class="localization-form__select">
                  <p class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</p>
                  <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                    {%- for country in localization.available_countries -%}
                      <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                        {{ country.currency.iso_code }} {{ country.currency.symbol }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon', icon: 'caret' %}
                </div>
                <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
              {%- endform -%}
            </noscript>
            <localization-form>
              {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                <div class="no-js-hidden">
                  <span class="visually-hidden" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</span>
                  <div class="disclosure">
                    <button type="button" class="disclosure__button localization-form__select localization-selector link link--text link-with-icon" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                      {%- unless section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                        {% render 'icon', icon: 'localization' %}
                      {%- endunless -%}
                      <span class="label">{{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})</span>
                      {% render 'icon', icon: 'caret' %}
                    </button>
                    <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled" hidden>
                      <li class="disclosure__item" tabindex="-1">
                        <a class="disclosure__link link disclosure__link--active focus-inset" href="#" aria-current="true" data-value="{{ localization.country.iso_code }}">
                          {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                        </a>
                      </li>
                      {%- for country in localization.available_countries -%}
                        {%- if country.iso_code != localization.country.iso_code -%}
                          <li class="disclosure__item" tabindex="-1">
                            <a class="disclosure__link link focus-inset" href="#" data-value="{{ country.iso_code }}">
                              {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                            </a>
                          </li>
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>
                  </div>
                  <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}"/>
                </div>
              {%- endform -%}
            </localization-form>
          {%- endif -%}
        </div>

        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();

      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);

      if (this.classList.contains('on-header')) {
        document.body.classList.remove('localization--open');
      }
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      // this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      // this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());

      if (this.classList.contains('on-header')) {
        document.body.classList.toggle('localization--open');
      }
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }
  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "shopify-section-footer",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share information about your brand with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.footer.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.footer.blocks.image.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "t:sections.footer.blocks.image.settings.image_width.unit",
          "label": "t:sections.footer.blocks.image.settings.image_width.label",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.footer.blocks.image.settings.alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.footer.blocks.image.settings.alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.footer.blocks.image.settings.alignment.options__3.label"
            }
          ],
          "label": "t:sections.footer.blocks.image.settings.alignment.label",
          "info": "t:sections.footer.blocks.image.settings.alignment.info",
          "default": "left"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.footer.blocks.image.settings.link.label"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.footer.blocks.image.settings.text.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": true,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Sign up to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "t:sections.footer.settings.newsletter_text.label",
      "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "text",
      "id": "social_heading",
      "label": "t:sections.footer.settings.social_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__3.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__4.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__6.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "default": "All rights reserved.",
      "label": "t:sections.footer.settings.copyright_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color",
      "id": "colors_text",
      "label": "t:sections.all.colors.colors_text.label",
      "default": "#42474c"
    },
    {
      "type": "color",
      "id": "colors_heading",
      "label": "t:sections.all.colors.colors_heading.label",
      "default": "#6b7177"
    },
    {
      "type": "color",
      "id": "colors_link",
      "label": "t:sections.all.colors.colors_link.label",
      "default": "#212326"
    },
    {
      "type": "color",
      "id": "colors_border",
      "label": "t:sections.all.colors.colors_line.label",
      "default": "#d2d5d9"
    },
    {
      "type": "color",
      "id": "colors_background",
      "label": "t:sections.all.colors.colors_background.label",
      "default": "#ffffff"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.all.colors.gradient_background.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  },
  "enabled_on": {
    "groups": ["footer"]
  }
}
{% endschema %}
