{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --color-overlay-opacity: {{ section.settings.colors_overlay_opacity | divided_by: 100.0 }};
    --color-overlay: {{ section.settings.colors_overlay.red }}, {{ section.settings.colors_overlay.green }}, {{ section.settings.colors_overlay.blue }};
    {%- if section.settings.image != blank %}
      --image-ratio-percent: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
    {% endif -%}
  }
{%- endstyle -%}

{{ 'section-lookbook.css' | asset_url | stylesheet_tag }}

<div class="section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  <lookbook-component class="lookbook page-width{% if section.settings.full_width %} page-width--full-width{% endif %}">
    <div class="title-wrapper{% if section.settings.heading == blank %} title-wrapper--no-heading{% endif %}{% if section.settings.full_width %} page-width{% endif %} {{ section.settings.heading_alignment }}">
      <{{ section.settings.heading_tag }} class="title {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</{{ section.settings.heading_tag }}>
    </div>

    <use-animate data-animate="zoom-fade" class="media-wrapper">
      <div class="image-animate media--adapt{% if section.settings.image != blank %} media{% else %} lookbook--placeholder{% endif %}">
        {%- if section.settings.image != blank -%}
          {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}{%- endcapture -%}
          {{ section.settings.image | image_url: width: 3840 | image_tag:
            loading: 'lazy',
            class: 'image-fit',
            sizes: sizes,
            widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            is: 'lazy-image'
          }}
        {%- else -%}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder' }}
        {%- endif -%}
      </div>
      {%- for block in section.blocks -%}
        {%- assign card_product = block.settings.product -%}
        {%- if card_product != blank -%}
          {%- if settings.quick_view_enabled and block.settings.enable_quick_view -%}
            <link rel="stylesheet" href="{{ 'section-main-product.css' | asset_url }}" media="print" onload="this.media='all'">
            <link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">
            <link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
            <link rel="stylesheet" href="{{ 'component-rating.css' | asset_url }}" media="print" onload="this.media='all'">
            <noscript>
              <a href="{{ card_product.url }}" class="look__hotspot" style="--hotspot-color: {{ block.settings.color.red }}, {{ block.settings.color.green }}, {{ block.settings.color.blue }}; --hotspot-x: {{ block.settings.horizontal }}%; --hotspot-y: {{ block.settings.vertical }}%;" {{ block.shopify_attributes }}>
                <div class="look__hotspot-product{% if block.settings.horizontal < 15 %} look__hotspot-product--left{% elsif block.settings.horizontal > 85 %} look__hotspot-product--right{% endif %}{% if block.settings.vertical > 70 %} look__hotspot-product--bottom{% endif %}">
                  <div class="h5">{{ card_product.title | escape }}</div>
                  {% render 'price', product: card_product %}
                </div>
              </a>
            </noscript>
            <quick-view-drawer>
              <details>
                <summary class="quick-view__summary" tabindex="-1">
                  <span class="visually-hidden">{{ 'products.product.quick_view' | t }}</span>
                  <div class="look__hotspot" style="--hotspot-color: {{ block.settings.color.red }}, {{ block.settings.color.green }}, {{ block.settings.color.blue }}; --hotspot-x: {{ block.settings.horizontal }}%; --hotspot-y: {{ block.settings.vertical }}%;" {{ block.shopify_attributes }}>
                    <div class="look__hotspot-product{% if block.settings.horizontal < 15 %} look__hotspot-product--left{% elsif block.settings.horizontal > 85 %} look__hotspot-product--right{% endif %}{% if block.settings.vertical > 70 %} look__hotspot-product--bottom{% endif %}">
                      <div class="h5">{{ card_product.title | escape }}</div>
                      {% render 'price', product: card_product %}
                    </div>
                  </div>
                </summary>
                <quick-view class="quick-view" data-product-url="{{ card_product.url | within: collection }}">
                  <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}" aria-modal="true" class="quick-view__content" tabindex="-1"></div>
                </quick-view>
              </details>
            </quick-view-drawer>
          {%- else -%}
            <a href="{{ card_product.url }}" class="look__hotspot" style="--hotspot-color: {{ block.settings.color.red }}, {{ block.settings.color.green }}, {{ block.settings.color.blue }}; --hotspot-x: {{ block.settings.horizontal }}%; --hotspot-y: {{ block.settings.vertical }}%;" {{ block.shopify_attributes }}>
              <div class="look__hotspot-product{% if block.settings.horizontal < 15 %} look__hotspot-product--left{% elsif block.settings.horizontal > 85 %} look__hotspot-product--right{% endif %}{% if block.settings.vertical > 70 %} look__hotspot-product--bottom{% endif %}">
                <div class="h5">{{ card_product.title | escape }}</div>
                {% render 'price', product: card_product %}
              </div>
            </a>
          {%- endif -%}
        {%- else -%}
          <div class="look__hotspot" style="--hotspot-color: {{ block.settings.color.red }}, {{ block.settings.color.green }}, {{ block.settings.color.blue }}; --hotspot-x: {{ block.settings.horizontal }}%; --hotspot-y: {{ block.settings.vertical }}%;" {{ block.shopify_attributes }}></div>
        {%- endif -%}
      {%- endfor -%}
    </use-animate>
  </lookbook-component>
</div>

{% schema %}
{
  "name": "t:sections.lookbook.name",
  "tag": "section",
  "class": "section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Lookbook",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.all.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color",
      "id": "colors_overlay",
      "label": "t:sections.all.colors.colors_overlay.label",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "colors_overlay_opacity",
      "label": "t:sections.all.colors.overlay_opacity.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.colors.overlay_opacity.unit"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "look",
      "name": "t:sections.lookbook.blocks.look.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.lookbook.blocks.look.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "enable_quick_view",
          "default": true,
          "label": "t:sections.all.product_card.enable_quick_view.label"
        },
        {
          "type": "header",
          "content": "t:sections.lookbook.blocks.look.settings.header.content"
        },
        {
          "type": "color",
          "id": "color",
          "label": "t:sections.lookbook.blocks.look.settings.color.label",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "horizontal",
          "default": 30,
          "min": 5,
          "max": 95,
          "label": "t:sections.lookbook.blocks.look.settings.horizontal.label",
          "unit": "t:sections.lookbook.blocks.look.settings.horizontal.unit"
        },
        {
          "type": "range",
          "id": "vertical",
          "default": 40,
          "min": 5,
          "max": 95,
          "label": "t:sections.lookbook.blocks.look.settings.vertical.label",
          "unit": "t:sections.lookbook.blocks.look.settings.vertical.unit"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.lookbook.presets.name",
      "blocks": [
        {
          "type": "look"
        }
      ]
    }
  ],
  "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
