<div class="page-width">
  <div class="password-header">
    {%- if section.settings.logo -%}
      {%- liquid
        assign logo_height = section.settings.logo_height
        assign logo_height_2x = section.settings.logo_height | times: 2
      -%}
      <img
        srcset="{{ section.settings.logo | image_url: height: logo_height }} 1x, {{ section.settings.logo | image_url: height: logo_height_2x }} 2x"
        src="{{ section.settings.logo | image_url: height: logo_height }}"
        class="password-logo"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
        style="--image-logo-height: {{ section.settings.logo_height }}px"
        width="{{ section.settings.logo.width }}"
        height="{{ section.settings.logo.height }}"
        loading="lazy"
      />
    {%- else -%}
      <h1 class="h2">{{ shop.name }}</h1>
    {%- endif -%}

    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}

    <password-modal>
      <details class="disclosure-has-popup modal">
        <summary class="focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.password_page.modal' | t }}">
          <span class="modal__toggle-open password-link button button--small">
            {{ 'general.password_page.login_password_button' | t }}
          </span>
          <span class="modal__toggle-close" aria-hidden="true">
            {% render 'icon', icon: 'close' %}
          </span>
        </summary>
        <div
          class="details-modal password-modal modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="page-width page-width--narrow password-header">
            <h2 class="password-modal__content-heading h3">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            <button type="button" class="modal__close-button" aria-label="{{ 'accessibility.close' | t }}">
              {% render 'icon', icon: 'close' %}
            </button>
          </div>
          <div class="page-width page-width--narrow">
            <div class="password-modal__content" tabindex="-1">
              {%- form 'storefront_password', class: 'password-form' -%}
                <div class="field password-field{% if form.errors %} password-field--error{% endif %}">
                  <input
                    id="Password"
                    type="password"
                    name="password"
                    class="field__input"
                    autocomplete="current-password"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                  />
                  <label class="visually-hidden" for="Password">{{ 'general.password_page.login_form_password_label' | t }}</label>
                  <button name="commit" class="password-button field__button">
                    {{ 'general.password_page.login_form_submit' | t }}
                  </button>
                </div>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message errors">
                      {% render 'icon', icon: 'error' %}
                      {{ 'general.password_page.login_form_error' | t }}
                    </span>
                  </div>
                {%- endif -%}
              {%- endform -%}
              <div class="typeset">{{ 'general.password_page.admin_link_html' | t }}</div>
            </div>
          </div>
          <div class="modal-overlay"></div>
        </div>
      </details>
    </password-modal>
  </div>
</div>
{%- if section.settings.show_line_separator -%}
  <hr/>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_height",
      "min": 30,
      "max": 200,
      "step": 2,
      "default": 50,
      "unit": "t:sections.main-password-header.settings.logo_height.unit",
      "label": "t:sections.main-password-header.settings.logo_height.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.main-password-header.settings.show_line_separator.label"
    }
  ]
}
{% endschema %}
