{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

<article class="article-template section--padding" itemscope itemtype="http://schema.org/BlogPosting">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'featured_image'-%}
        {%- if article.image -%}
          <use-animate data-animate="zoom-fade" class="article-template__hero-container media-wrapper" {{ block.shopify_attributes }}>
            <div class="article-template__hero-{{ block.settings.image_height }} image-animate media"
              itemprop="image"
              {%- if block.settings.image_height == 'adapt' %} style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"{% endif -%}
            >
              {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{%- endcapture -%}
              {{ article.image | image_url: width: 3000 | image_tag:
                loading: 'eager',
                fetchpriority: 'high',
                sizes: sizes,
                widths: '375, 750, 1100, 1500, 1780, 2000, 3000',
                is: 'lazy-image'
              }}
            </div>
          </use-animate>
        {%- endif -%}

        {%- when 'breadcrumb' -%}
          <div class="page-width page-width--inner breadcrumb-wrapper center" {{ block.shopify_attributes }}>
            {% render 'breadcrumbs', text_style: block.settings.text_style, show_divider: block.settings.show_divider %}
          </div>

        {%- when 'title'-%}
          <header class="page-width page-width--inner" {{ block.shopify_attributes }}>
            <h1 class="article-template__title h0" itemprop="headline">{{ article.title | escape }}</h1>
            {%- if block.settings.blog_show_date -%}
              <span class="circle-divider typeset2" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
            {%- endif -%}
            {%- if block.settings.blog_show_author -%}
              <span class="circle-divider typeset2" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ article.author }}</span>
              </span>
            {%- endif -%}
            {%- if block.settings.blog_show_comment_count and article.comments_count > 0 and blog.comments_enabled? -%}
              <span class="circle-divider typeset2">
                <a href="#comments" class="link">{{ 'blogs.article.comments' | t: count: article.comments_count }}</a>
              </span>
            {%- endif -%}
          </header>

        {%- when 'content'-%}
          <div class="article-template__content page-width page-width--inner rte" itemprop="articleBody" {{ block.shopify_attributes }}>
              {{ article.content }}
          </div>

        {%- when 'share'-%}
          <div class="article-template__social-sharing page-width page-width--inner">
            {%- liquid
              assign share_url = article.url | prepend: request.origin
              render 'share-button', block: block, share_link: share_url, share_image: article.image, share_title: article.title
            -%}
          </div>

        {%- when 'back_to_blog'-%}
          <div class="element-margin center" {{ block.shopify_attributes }}>
            <a href="{{ blog.url }}" class="article-template__link button button--tertiary animate-arrow">
              {% render 'icon', icon: 'arrow' %}
              {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
            </a>
          </div>

        {%- when 'next_previous_posts'-%}
          {%- if blog.next_article or blog.previous_article -%}
            <ul class="article-template__navigation page-width element-margin" {{ block.shopify_attributes }}>
              <li class="navigation__previous">
                {%- if blog.previous_article -%}
                  <a href="{{ blog.previous_article.url }}">
                    {% render 'icon', icon: 'arrow' %}
                    <span class="h3">{{ blog.previous_article.title }}</span>
                  </a>
                {%- endif -%}
              </li>

              <li class="navigation__next">
                {%- if blog.next_article -%}
                  <a href="{{ blog.next_article.url }}">
                    <span class="h3">{{ blog.next_article.title }}</span>
                    {% render 'icon', icon: 'arrow' %}
                  </a>
                {%- endif -%}
              </li>
            </ul>
          {%- endif -%}
    {%- endcase -%}
  {%- endfor -%}

  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper">
      <div id="comments" class="page-width page-width--inner">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <p id="Comments-{{ article.id }}" class="h3 uppercase">{{ 'blogs.article.comments' | t: count: article.comments_count }}</p>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- liquid
                if comment.status == 'pending' and comment.content
                  render 'comment', comment: comment, show_gravatar: section.settings.show_gravatar
                endif

                for comment in article.comments
                  render 'comment', comment: comment, show_gravatar: section.settings.show_gravatar
                endfor

                render 'pagination', paginate: paginate, anchor: anchorId
              -%}
            </div>
          {% endpaginate %}
        {%- endif -%}

        <form-state class="center">
          {% form 'new_comment', article %}
            {%- liquid
              assign post_message = 'blogs.article.success'
              if blog.moderated? and comment.status == 'unapproved'
                assign post_message = 'blogs.article.success_moderated'
              endif
            -%}
            <p class="h3 uppercase">{{ 'blogs.article.comment_form_title' | t }}</p>
            {%- if blog.moderated? -%}
              <p class="article-template__comment-warning">{{ 'blogs.article.moderated' | t }}</p>
            {%- endif -%}

            {%- if form.posted_successfully? -%}
              <p class="form-status-list form__message h3" role="status" tabindex="-1" autofocus>
                {% render 'icon', icon: 'success' %}
                {{ post_message | t }}
              </p>
            {%- endif -%}

            <div {% if blog.moderated? == false %}class="article-template__comments-fields"{% endif %}>
              <div class="article-template__comment-fields">
                <div class="field field--with-error">
                  <input
                    id="CommentForm-author"
                    type="text"
                    name="comment[author]"
                    class="field__input required{% if form.errors contains 'author' %} invalid{% endif %}"
                    required="required"
                    autocomplete="name"
                    value="{{ form.author }}"
                    aria-required="true"
                    placeholder="{{ 'blogs.article.name' | t }}"
                    {%- if form.errors contains 'author' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-author-error"
                    {% endif -%}
                  />
                  <label class="visually-hidden" for="CommentForm-author">{{ 'blogs.article.name' | t }}</label>
                  {%- if form.errors contains 'author' -%}
                    <small id="CommentForm-author-error">
                      <span class="form__message errors">
                        {% render 'icon', icon: 'error' %}
                        {{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}
                      </span>
                    </small>
                  {%- endif -%}
                </div>
                <div class="field field--with-error">
                  <input
                    id="CommentForm-email"
                    type="email"
                    name="comment[email]"
                    autocomplete="email"
                    class="field__input required{% if form.errors contains 'email' %} invalid{% endif %}"
                    required="required"
                    value="{{ form.email }}"
                    autocorrect="off"
                    autocapitalize="off"
                    aria-required="true"
                    placeholder="{{ 'blogs.article.email' | t }}"
                    {%- if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-email-error"
                    {% endif -%}
                  />
                  <label class="visually-hidden" for="CommentForm-email">{{ 'blogs.article.email' | t }}</label>
                  {%- if form.errors contains 'email' -%}
                    <small id="CommentForm-email-error">
                      <span class="form__message errors">
                        {% render 'icon', icon: 'error' %}
                        {{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}
                      </span>
                    </small>
                  {%- endif -%}
                </div>
              </div>
              <div class="field field--with-error">
                <textarea
                  id="CommentForm-body"
                  rows="5"
                  name="comment[body]"
                  class="text-area field__input required{% if form.errors contains 'body' %} invalid{% endif %}"
                  required="required"
                  aria-required="true"
                  placeholder="{{ 'blogs.article.message' | t }}"
                  {%- if form.errors contains 'body' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-body-error"
                  {% endif -%}
                >{{ form.body }}</textarea>
                <label class="visually-hidden" for="CommentForm-body">{{ 'blogs.article.message' | t }}</label>
              </div>
              {%- if form.errors contains 'body' -%}
                <small id="CommentForm-body-error">
                  <span class="form__message errors">
                    {% render 'icon', icon: 'error' %}
                    {{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}
                  </span>
                </small>
              {%- endif -%}
            </div>
            <div class="article-template__comment-button">
              <button type="submit" class="button">{{ 'blogs.article.post' | t }}</button>
            </div>
            
            {% comment %}
              Remove the following three lines of code to remove the note
              about being protected by Google's reCAPTCHA service.
              By removing it, the small reCAPTCHA widget will appear in the
              bottom right corner of the page.
            {% endcomment %}
            <div class="rte">
              {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
            </div>
          {% endform %}
        </form-state>
      </div>
  </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_gravatar",
      "default": true,
      "label": "t:sections.main-article.settings.show_gravatar.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "breadcrumb",
      "name": "t:sections.main-article.blocks.breadcrumb.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-article.blocks.breadcrumb.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-article.blocks.breadcrumb.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-article.blocks.breadcrumb.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-article.blocks.breadcrumb.settings.text_style.label"
        },
        {
          "type": "checkbox",
          "id": "show_divider",
          "default": false,
          "label": "t:sections.all.show_divider.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_comment_count",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_comment_count.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "back_to_blog",
      "name": "t:sections.main-article.blocks.back_to_blog.name",
      "limit": 1
    },
    {
      "type": "next_previous_posts",
      "name": "t:sections.main-article.blocks.next_previous_posts.name",
      "limit": 1
    }
  ]
}
{% endschema %}
